/* Custom styles go here */
/*add navbar color and styling here*/
/**    .navbar {
        background-color: #2476c7;  
        font-family: "Open Sans", sans-serif;  
    } 
    
    .navbar a {
        text-decoration: none;  
        color: rgb(253, 251, 251) !important;
    } 
*/